.Main {
  width: 100%;
  min-height: 90vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.Board {
  display: flex;
  flex-direction: column-reverse;
  background-color: blueviolet;
  padding: 5px;
  margin: 20px;
}

.Row {
  background-color: blueviolet;
  margin: 0;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.BoardCell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: aliceblue;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.players {
  display: flex;
  justify-content: space-between;
  width: 420px;
}
.player {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.redCircle {
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  margin: 5px;
}
.yellowCircle {
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: yellow;
  margin: 5px;
}
.summaryContainer {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restartBtn {
  width: 80%;
  height: 25px;
  border-radius: 5px;
  background-color: blueviolet;
  border: none;
  color: aliceblue;
}
